<link rel="stylesheet" src="/css/indexEJS.css">
<div class="transparentMain">
  <div>
    <h1 class="indexEJS">HackyTrack</h1>
    <h3 class="indexEJS">Find, attend, or organize a hackathon</h3>
  </div>
</div>
