<h1>HackyTrack</h1>
<h3>Find, attend, or organize a hackathon</h3>

<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
<a href="/auth/logout">Logout</a>
<a href="/profile">Profile</a>
<a href="/event/new">Create an Event</a>
