<div class="transparentParent">
  <div class="transparent">
    <h1>Create An Event</h1>

    <hr/>

    <p>When creating an event such as a hackathon - or anything, really - details matter. Please make sure you fill the following form out correctly, so your attendees can easily find the info they need.</p>
    <p>After you've created this event, you will automatically be listed as an organizer, letting you begin planning your event. Any other organizers will need to register as an organizer on the registration page.</p>

    <form action="/event/create" method="POST">
      <div class="form-group">
        <label for="eventName">Name of Event</label>
        <input type="text" class="form-control" id="eventName" name="eventName" required>
      </div>
      <div class="form-group">
        <label for="eventDate">Date of Event</label>
        <input type="text" class="form-control" id="eventDate" name="eventDate" required>
      </div>
      <div class="form-group">
        <label for="eventLocation">Location of Event</label>
        <input type="text" class="form-control" id="eventLocation" name="eventLocation" required>
      </div>
      <div class="form-group">
        <label for="eventDescription">Description of Event</label>
        <input type="text" class="form-control" id="eventDescription" name="eventDescription" required>
      </div>
      <div class="form-group">
        <label for="venueName">Name of Venue</label>
        <input type="text" class="form-control" id="venueName" name="venueName" required>
      </div>
      <div class="form-group">
        <label for="venueAddress">Address of Venue</label>
        <input type="text" class="form-control" id="venueAddress" name="venueAddress" required>
      </div>
      <div class="form-group">
        <label for="venueUrl">URL of Venue</label>
        <input type="text" class="form-control" id="venueUrl" name="venueUrl">
      </div>

      <input type="submit" class="btn btn-primary">
    </form>
  </div>
</div>
