<div class="container">
  <h1><%= event.name %> Planning Page</h1>
  <div class="toDoListBox" id="toDoListBox">
    <div class="toDoList" id="toDoList">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="toDo" placeholder="Add to To-Do list" name="toDo">
      <input type="submit" class="btn btn-primary" id="toDoButton"></div>
    </div>
  </div>
</div>
